<div class="ekart--header">
  <div class="ekart-logo">eKart</div>
  <div class="ekart--header--nav">
    <!--Top Menu-->
    <app-top-menu></app-top-menu>
    <!--Main Menu-->
    <div class="ekart--bottom--bar">
      <app-main-menu></app-main-menu>
      <!-- <div class="ekart--search-bar">
        <input type="text" placeholder="Search" class="ekart-search-box" />
        <button class="ekart--search--btn">
          <i class="bi bi-search" aria-hidden="true"></i>
        </button>
      </div> -->
    </div>
  </div>
</div>
